name: equalx_ffi
description: Flutter/Dart FFI bindings for the EqualX SDK C surface.
publish_to: 'none'
version: 0.1.0
environment:
  sdk: '>=3.3.0 <4.0.0'
  flutter: '>=3.19.0'
dependencies:
  flutter:
    sdk: flutter
  ffi: ^2.1.0
  meta: ^1.11.0
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  assets:
    - assets/include/eswp.h
